.rlContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rlFormContainer {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


.input {
    width: 80%;
}