.rContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rFormContainer {
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


.input {
    width: 80%;
    background-color: #e8e8e8;
}

.orContR {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    background-color: #b3b3b3;
    height: 1px;
    width: 30%;
}
